﻿@page
@model IndexModel
@{
}

<div id="app">
    <div>
        <p v-for="(product, index) in products">
            {{product.id}} - {{product.name}} - {{product.price}}
            <a @@click="editProduct(product.id, index)">Edit</a>
            <a @@click="removeProduct(product.id, index)">Remove</a>
        </p>
    </div>
    <div>
        <input v-model="productModel.name" />
        <input v-model="productModel.description" />
        <input v-model.number="productModel.price" />
        <button @@click="createProduct" v-if="!productModel.id">Create</button>
        <button @@click="updateProduct" v-else>Update</button>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/main.js"></script>
}