﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    @*<div>
        <form method="post">
            <label>Name</label>
            <input asp-for="Product.Name" />
            <label>Description</label>
            <input asp-for="Product.Description" />
            <label>Price</label>
            <input asp-for="Product.Price" />
            <input type="submit" value="Save Product" />
        </form>
    </div>*@
@*<div>
    @{ 
        foreach(var product in Model.Products)
        {
            <p>
                @product.Name - @product.Description - @product.Price
            </p>
        }
    }
</div>*@
